* {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  user-select: none;
  background-image: url("https://images.unsplash.com/photo-1529425689619-bf11828c26fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=971&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
a {
  text-decoration: none;
}

#title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-family: Tims;
  padding: 0.3em 0em 0.3em 0em;
  margin-top: 40px;
  margin-bottom: 0px;
  color: rgb(138, 39, 88);
}

.container {
  width: 450px;
  margin: 230px auto;
}

.signup,
.login {
  width: 100%;
  background: #fff;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom-color: gray;
}

.signup-form,
.login-form {
  background: #fff;
  padding: 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
}

.input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}

.input:focus {
  border: 2px solid #34b3a0;
}

.btn {
  width: 100%;
  background: #ec407a;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
}

span a {
  text-decoration: none;
  color: #000;
}

.survey {
  font-size: 30px;
  margin-top: 20px;
}

.survey a {
  color: darkmagenta;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3e3e40;
  font-family: roboto;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #3e3e40;
  font-family: roboto;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #3e3e40;
  font-family: roboto;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #3e3e40;
  font-family: roboto;
}
