body {
  background-image: url("https://images.unsplash.com/photo-1529425689619-bf11828c26fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=971&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

a {
  text-decoration: none;
}

fieldset {
  margin-left: 40px;
}

#title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-family: Tims;
  padding: 0.3em 0em 0.3em 0em;
  margin-top: 40px;
  margin-bottom: 0px;
  color: rgb(138, 39, 88);
}

#description {
  font-size: 20px;
  font-family: Times;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
} /*
.form-row{
  display: flex;
}
form-row input{
  flex: 1;
}*/

.container {
  width: 900px;
  margin: 0 auto;
  padding: auto;
}
#survay-form label {
  display: block;
  margin-bottom: px;
  padding: 0px 0px 10px 0px;
}

#survay-form input,
#survay-form button,
#survay-form textarea {
  border: 3px solid #d1d1d1;
  border-radius: 5px;
  padding: 7px;
  background: #e4ebf7;
}

div {
  margin-top: 20px;
}

.card {
  background: transparent;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  margin-top: 20px;
  background-color: white;
  background-color: rgba( 255, 255, 255, 0.5 );
}

#register {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#register input {
  margin: 15px 7px;
  border-radius: 5px;
  font-size: 25px;
}
