.updateprofilecontents{
	 width:100%;
    height:100%;
    padding:15px;
    margin:15px;
    position:relative;
    background-color: #f5f7fa;
}

.updateprofile{
	width:50%;
	height:300px;
/* 	position:absolute; */
	left:40%;
	top:50%;
	margin-left:-150px;
	margin-top:-150px;
    text-align: center;
    margin:0 auto;
}

.mypageprofile{
	border : 2px solid blue;
	width:500px;
	text-align: center;
}

.myprofile{
	border : 2px solid blue;
}

.updateprofilecontents .updateprofile .updateprofiletable{
	border : 1px solid red;
	border-collapse: separate;
	border-spacing: 30px;
}
.profilepicture{
	width: 100%;
	height: 300px;
	border: 2px solid green;
}

.introduce{
	width: 100%;
	height:200px;
	border: 2px solid red;
	
}
.introduce textarea{
	resize:none;
	width: 100%;
	height: 200px;
}